@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  outline: none;
}

body {
  /* font-family: 'Fira Code', monospace;
    font-family: 'Poppins', sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(235, 235, 235);
  width: 100%;
  min-height: 100vh;
  color: rgb(33, 33, 33);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.r-nav-bar {
  width: 100%;
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  padding: 16px;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.r-nav-content-item {
  margin-left: 12px;
  margin-right: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.15s linear;
  cursor: pointer;
}

.r-nav-title {
  font-size: 22px;
  height: 44px;
  cursor: pointer;
}

.r-nav-content-item:hover,
.r-nav-content-item:focus {
  opacity: 0.7;
}

.r-nav-search {
  width: 100%;
  background: rgb(245, 245, 245);
  padding: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: solid 1px rgb(210, 210, 210);
  z-index: 2;
}

.r-nav-searchbar {
  width: 75%;
  font-family: "Fira Code", monospace;
}

.r-nav-searchbar input {
  width: 90%;
  padding: 12px;
  font-size: 15px;
  outline: none;
  border: none;
  background: rgb(225, 225, 225);
}

.r-nav-searchbar form {
  display: flex;
}

.r-nav-searchbar button {
  width: 12.5%;
  outline: none;
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: opacity 0.15s linear;
}

.r-nav-searchbar button:hover,
.r-nav-searchbar button:focus {
  opacity: 0.75;
}

.r-nav-searchbar input:focus {
  padding: 11px;
  border: solid 1px;
  border-image: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%) 1;
}

.r-nav-button {
  width: 10%;
  background: none;
  border: solid 2px;
  border-image: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%)
    1;
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: opacity 0.15s linear;
}

.r-nav-button:hover,
.r-nav-button:focus {
  opacity: 0.75;
}

.mobile-alert {
  visibility: hidden;
  display: none;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
}

.ma-icon {
  font-size: 124px;
}

.splash {
  height: calc(100vh - (76px + 85px));
  width: 100%;
  background-image: url("../assets/Backgrounds/Waves 5.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.splash-title {
  font-size: 58px;
  max-width: 850px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-title object {
  margin-right: 0;
}

.splash-sub {
  font-size: 64px;
  max-width: 850px;
  font-family: "Poppins", sans-serif;
}

.splash-text {
  font-size: 20px;
  max-width: 800px;
}

.splash-buttons {
  display: flex;
  justify-content: center;
}

.splash-button {
  padding: 12px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  width: 215px;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 64px;
  transition: opacity 0.15s linear;
}

.splash-button:hover,
.splash-button:focus {
  opacity: 0.8;
}

.sb-fill {
  background: white;
  color: black;
}

.sb-no-fill {
  border: solid 2px white;
}

@media screen and (max-width: 720px) {
  .mobile-alert {
    visibility: visible;
    display: flex;
  }
  main {
    display: none;
    visibility: hidden;
  }
}

.install-alert {
  position: fixed;
  z-index: 99;
  display: flex;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  user-select: none;
}

.install-alert-text {
  max-width: 50%;
}

.plugin-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;
  border-bottom: solid 1px rgb(210, 210, 210);
}

.pp-content {
  display: flex;
  justify-content: center;
}

.pp-image {
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  background-size: cover;
  width: 400px;
  background-position: center;
  border-radius: 12px;
}

.pp-text {
  max-width: 35%;
  margin-left: 3.5%;
  color: rgb(56, 56, 56);
}

.pp-text h1,
.pp-text h2 {
  font-family: "Poppins", sans-serif;
}

.pp-text h2 {
  margin-top: -8px;
  font-weight: 600;
}

.pp-text h1 {
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pp-text hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pp-beta {
  font-size: 14px;
  vertical-align: super;
  text-transform: uppercase;
}

.pp-text p {
  margin-bottom: 8px;
}

.pp-text ul {
  list-style-position: inside;
}

.ia-hide {
  visibility: hidden;
  display: none;
}

.credits {
  display: flex;
  background: rgb(218,114,230);
background: linear-gradient(45deg, rgba(218,114,230,1) 0%, rgba(255,166,87,1) 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px;
  width: 100%;
  flex-direction: column;
  border-bottom: solid 1px rgb(210, 210, 210);
}

.credit-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credits h1 {
  color: white;
  font-size: 42px;
}

.credit-logos a {
  margin-top: 12px;
  margin-bottom: 12px;
}

.cl {
  opacity: 0.85;
  height: calc(98px / 3);
  width: calc(240px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.15s linear;
}

.cl-github {
  background: url("../assets/Logos/GitHub_Logo.svg");
}

.cl-roblox {
  background: url("../assets/Logos/Roblox_Logo.svg");
}

.cl-vercel {
  background: url("../assets/Logos/Vercel_Logo.svg");
}

.cl {
  opacity: 0.85;
  height: calc(98px / 3);
  width: calc(240px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.15s linear;
}

.cl-roblox:hover,
.cl-github:hover,
.cl-vercel:hover,
.cl-roblox:focus,
.cl-github:focus,
.cl-vercel:focus {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 56px;
  border-bottom: solid 1px rgb(210, 210, 210);
  font-family: "Poppins", sans-serif;
}

.footer-content {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-group {
  display: flex;
  flex-direction: column;
}

.footer-group a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.footer h2 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 6px;
}

.bottom-banner {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.bottom-banner a {
  text-decoration: none;
  font-weight: 600;
}

.packages {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  margin-left: 20%;
  padding: 56px;
  text-align: left;
  border-bottom: solid 1px rgb(210, 210, 210);
}

.package-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: solid 1px rgb(210, 210, 210);
}

.package-option-buttons {
  display: flex;
  flex-direction: row;
  align-items:center;
}
.package-option-buttons button{
  margin-left: 16px;
  padding: 8px;
  background: transparent;
  border: solid 2px rgb(46,46,46);
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
}

.package-list {
  display: flex;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.package-card {
border-bottom: solid 1px rgb(210, 210, 210);
padding-top: 16px;
padding-bottom: 16px;
width: 100%;
}

.package-card h2 {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center
}

.package-card h2 a {
  color: inherit;
  text-decoration: none;
}

.package-flair {
  font-size: 12px;
  margin-left: 12px;
  background: rgb(200,200,200);
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

.package-tags {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.package-tag {
  font-size: 14px;
  font-family: 'Fira Code',monospace;
  margin-right: 12px;
  background: rgb(210,210,210);
  text-transform: lowercase;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.package-data {
  display: flex;
}

.package-data p {
  font-family: 'Fira Code',monospace;
  font-size: 15px;
  margin-right: 16px;
  opacity: 0.85;
}

.package-data a {
  color: inherit;
  text-decoration: none;
}

.package-desc {
  margin-top: 4px;
  margin-bottom: 8px;
}

#package-filter-name {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}